In [58]:
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [60]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

the code and data manipulation from the previous lecture

In [61]:
df2 = pd.read_excel("DMforBA_DataSets\ToyotaCorolla.xls")
df2 = df2.loc[:, df2.columns != 'Id']
df = df2[['Price', 'Age_08_04', 'KM', 'Fuel_Type', 'Automatic', 'Gears']]

df_onehot = pd.get_dummies(df)
df_dummy = pd.get_dummies(df,drop_first=True)

X = df_dummy.loc[:, df_dummy.columns != 'Price']
y = df_dummy[['Price']]
X2 = df_onehot.loc[:, df_onehot.columns != 'Price']
y2 = df_onehot[['Price']]

In [62]:
R2_list = []
MSE_list = []
model_list = []
combined = pd.DataFrame()

Linear Regression

In [63]:
cols = []
coeff = []
reg2 = LinearRegression().fit(X, y)
y_pred = reg2.predict(X)
print("R2 = ",reg2.score(X,y), "MSE = ", mean_squared_error(y, y_pred))
R2_list.append(reg2.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Linear Reg')
for c in reg2.coef_[0]:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

coeff_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Reg'] = coeff
coeff_df.head(10)

R2 =  0.7999180233065606 MSE =  2630219.907097417

          variables  coefficients
0         Age_08_04      -149.369
1                KM        -0.020
2         Automatic       843.167
3             Gears      1361.139
4  Fuel_Type_Diesel       883.703
5  Fuel_Type_Petrol        56.591

In [64]:
reg2.coef_[0]

array([-1.49369159e+02, -2.00753597e-02,  8.43166547e+02,  1.36113905e+03,
        8.83703311e+02,  5.65914717e+01])

Ridge alpha = 0.1

In [65]:
cols = []
coeff = []

reg_ridge = Ridge(alpha=0.1,fit_intercept=True).fit(X, y)
y_pred = reg_ridge.predict(X)
print("R2 = ",reg_ridge.score(X,y), "MSE = ", mean_squared_error(y, y_pred))
R2_list.append(reg_ridge.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Ridge 0.1')
for c in reg_ridge.coef_[0]:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

ridge_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Ridge 0.1'] = coeff
ridge_df.head(10)

R2 =  0.799917968075741 MSE =  2630220.6331458264

          variables  coefficients
0         Age_08_04      -149.370
1                KM        -0.020
2         Automatic       841.744
3             Gears      1358.393
4  Fuel_Type_Diesel       877.745
5  Fuel_Type_Petrol        51.375

Ridge alpha = 10

In [66]:
cols = []
coeff = []

reg_ridge = Ridge(alpha=10).fit(X, y)
y_pred = reg_ridge.predict(X)
print("R2 = ",reg_ridge.score(X,y), "MSE = ", mean_squared_error(y, y_pred))
R2_list.append(reg_ridge.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Ridge 10')
for c in reg_ridge.coef_[0]:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

ridge_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Ridge 10'] = coeff
ridge_df.head(10)

R2 =  0.7996616258265294 MSE =  2633590.434354556

          variables  coefficients
0         Age_08_04      -149.553
1                KM        -0.020
2         Automatic       723.287
3             Gears      1126.784
4  Fuel_Type_Diesel       598.164
5  Fuel_Type_Petrol      -167.510

Ridge alpha = 100

In [67]:
cols = []
coeff = []

reg_ridge = Ridge(alpha=100).fit(X, y)
y_pred = reg_ridge.predict(X)
print("R2 = ",reg_ridge.score(X,y), "MSE = ", mean_squared_error(y, y_pred))
R2_list.append(reg_ridge.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Ridge 100')
for c in reg_ridge.coef_[0]:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

ridge_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Ridge 100'] = coeff
ridge_df.head(10)

R2 =  0.796301697096137 MSE =  2677759.0875193896

          variables  coefficients
0         Age_08_04      -150.949
1                KM        -0.019
2         Automatic       322.729
3             Gears       430.708
4  Fuel_Type_Diesel       285.397
5  Fuel_Type_Petrol      -211.201

Lasso alpha = 0.1

In [68]:
cols = []
coeff = []

reg_lasso = Lasso(alpha=0.1).fit(X, y)
y_pred = reg_lasso.predict(X)
print("R2 = ",reg_lasso.score(X,y), "MSE = ", mean_squared_error(y, y_pred))
R2_list.append(reg_lasso.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Lasso 0.1')
for c in reg_lasso.coef_:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

lasso_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Lasso 0.1'] = coeff
lasso_df.head(10)

R2 =  0.7999177191690904 MSE =  2630223.9052008027

          variables  coefficients
0         Age_08_04      -149.361
1                KM        -0.020
2         Automatic       840.843
3             Gears      1358.516
4  Fuel_Type_Diesel       865.899
5  Fuel_Type_Petrol        39.369

Lasso alpha = 10

In [69]:
cols = []
coeff = []

reg_lasso = Lasso(alpha=10).fit(X, y)
y_pred = reg_lasso.predict(X)
print("R2 = ",reg_lasso.score(X,y), "MSE = ", mean_squared_error(y, y_pred))
R2_list.append(reg_lasso.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Lasso 10')
for c in reg_lasso.coef_:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

lasso_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Lasso 10'] = coeff
lasso_df.head(10)

R2 =  0.7993728049815316 MSE =  2637387.1898077563

          variables  coefficients
0         Age_08_04      -150.182
1                KM        -0.019
2         Automatic       618.960
3             Gears      1038.877
4  Fuel_Type_Diesel       664.827
5  Fuel_Type_Petrol        -0.000

Lasso alpha = 100

In [70]:
cols = []
coeff = []

reg_lasso = Lasso(alpha=100).fit(X, y)
y_pred = reg_lasso.predict(X)
print("R2 = ",reg_lasso.score(X,y), "MSE = ", mean_squared_error(y, y_pred))
R2_list.append(reg_lasso.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Lasso 100')
for c in reg_lasso.coef_:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

lasso_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Lasso 100'] = coeff
lasso_df.head(10)

R2 =  0.7899734379422133 MSE =  2760948.5555514055

          variables  coefficients
0         Age_08_04      -153.765
1                KM        -0.017
2         Automatic         0.000
3             Gears         0.000
4  Fuel_Type_Diesel         0.000
5  Fuel_Type_Petrol        -0.000

In [71]:
print(R2_list)
print(combined.columns)

[0.7999180233065606, 0.799917968075741, 0.7996616258265294, 0.796301697096137, 0.7999177191690904, 0.7993728049815316, 0.7899734379422133]
Index(['Reg', 'Ridge 0.1', 'Ridge 10', 'Ridge 100', 'Lasso 0.1', 'Lasso 10',
       'Lasso 100'],
      dtype='object')

In [72]:
#combined['Columns'] = X.columns
#combined['R2'] = R2_list
desc_list = cols
desc_list.append('R2')
desc_list.append('MSE')

print(len(R2_list),len(combined.columns))
a_series = pd.Series(R2_list, index = combined.columns)
combined = combined.append(a_series, ignore_index=True)
#combined['MSE'] = MSE_list
a_series = pd.Series(MSE_list, index = combined.columns)
combined = combined.append(a_series, ignore_index=True)

combined['Description'] = desc_list
combined.head(10)

7 7

,Reg,Ridge 0.1,Ridge 10,Ridge 100,Lasso 0.1,Lasso 10,Lasso 100,Description
0,-149.369,-149.370,-149.553,-150.949,-149.361,-150.182,-153.765,Age_08_04
1,-0.020,-0.020,-0.020,-0.019,-0.020,-0.019,-0.017,KM
2,843.167,841.744,723.287,322.729,840.843,618.960,0.000,Automatic
3,1361.139,1358.393,1126.784,430.708,1358.516,1038.877,0.000,Gears
4,883.703,877.745,598.164,285.397,865.899,664.827,0.000,Fuel_Type_Diesel
5,56.591,51.375,-167.510,-211.201,39.369,-0.000,-0.000,Fuel_Type_Petrol
6,0.800,0.800,0.800,0.796,0.800,0.799,0.790,R2
7,2630219.907,2630220.633,2633590.434,2677759.088,2630223.905,2637387.190,2760948.556,MSE

new unit

reading the data and selecting features identified in the other notebook (using KNIME)

In [73]:
#df = pd.read_csv("IML_DataSets\Adult.csv")
df2 = pd.read_excel("DMforBA_DataSets\ToyotaCorolla.xls")
df2 = df2.loc[:, df2.columns != 'Id']
df = df2[['Price', 'Age_08_04', 'KM', 'Quarterly_Tax', 'Mfr_Guarantee',
          'BOVAG_Guarantee', 'ABS','Airco', 'Metallic_Rim']]
X = df.loc[:, df.columns != 'Price']
y = df[['Price']]
display(df.head(10))

,Price,Age_08_04,KM,Quarterly_Tax,Mfr_Guarantee,BOVAG_Guarantee,ABS,Airco,Metallic_Rim
0,13500,23,46986,210,0,1,1,0,0
1,13750,23,72937,210,0,1,1,1,0
2,13950,24,41711,210,1,1,1,0,0
3,14950,26,48000,210,1,1,1,0,0
4,13750,30,38500,210,1,1,1,1,0
5,12950,32,61000,210,0,1,1,1,0
6,16900,27,94612,210,0,1,1,1,0
7,18600,30,75889,210,1,1,1,1,0
8,21500,27,19700,100,0,1,1,1,1
9,12950,23,71138,185,0,1,1,1,0

In [74]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from numpy import mean

In [75]:
#pd.set_option('display.float_format', lambda x: '%.3f' % x)
#Set the display format to be scientific for ease of analysis
pd.options.display.float_format = '{:,.4g}'.format

In [76]:
R2_list = []
MSE_list = []
model_list = []
combined = pd.DataFrame()

running linear regression for comparison purposes

In [77]:
cols = []
coeff = []
reg2 = LinearRegression().fit(X, y)
y_pred = reg2.predict(X)
print("R2 = %.4f and MSE = %.2f" % (reg2.score(X,y), mean_squared_error(y, y_pred)))
R2_list.append(reg2.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Linear Reg')
for c in reg2.coef_[0]:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

coeff_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Reg'] = coeff
coeff_df.head(10)

R2 = 0.8234 and MSE = 2321593.64

         variables  coefficients
0        Age_08_04        -138.7
1               KM      -0.02345
2    Quarterly_Tax         12.33
3    Mfr_Guarantee         221.9
4  BOVAG_Guarantee         224.3
5              ABS        -689.1
6            Airco           684
7     Metallic_Rim         542.4

Running Ridge for different values of alpha {0.1, 10, 100}

In [78]:
from sklearn.preprocessing import MinMaxScaler

In [79]:
scaler = MinMaxScaler(feature_range=(0, 1))
X_Scaled = scaler.fit_transform(X)
XS = pd.DataFrame(X_Scaled)
XS.columns = X.columns

#we are not using it in the further analysis to compare the coefficients, otherwise need to replace
# X with XS in the subsequent code

Ridge regression using alpha=0.1

In [80]:
cols = []
coeff = []

reg_ridge = Ridge(alpha=0.1,fit_intercept=True).fit(X, y)
y_pred = reg_ridge.predict(X)
print("R2 = %.4f and MSE = %.2f" % (reg_ridge.score(X,y), mean_squared_error(y, y_pred)))
R2_list.append(reg_ridge.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Ridge 0.1')
for c in reg_ridge.coef_[0]:    
    coeff.append(c)
for names in XS.columns:
    cols.append(names)

ridge_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Ridge 0.1'] = coeff
ridge_df.head(10)

R2 = 0.8234 and MSE = 2321593.69

         variables  coefficients
0        Age_08_04        -138.7
1               KM      -0.02345
2    Quarterly_Tax         12.33
3    Mfr_Guarantee         221.8
4  BOVAG_Guarantee         224.1
5              ABS        -688.7
6            Airco         683.8
7     Metallic_Rim         542.3

Ridge regression using alpa=10

In [81]:
cols = []
coeff = []

reg_ridge = Ridge(alpha=10).fit(X, y)
y_pred = reg_ridge.predict(X)
print("R2 = %.4f and MSE = %.2f" % (reg_ridge.score(X,y), mean_squared_error(y, y_pred)))
R2_list.append(reg_ridge.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Ridge 10')
for c in reg_ridge.coef_[0]:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

ridge_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Ridge 10'] = coeff
ridge_df.head(10)

R2 = 0.8234 and MSE = 2321980.88

         variables  coefficients
0        Age_08_04        -138.6
1               KM      -0.02346
2    Quarterly_Tax         12.36
3    Mfr_Guarantee         216.5
4  BOVAG_Guarantee         205.1
5              ABS          -647
6            Airco         663.6
7     Metallic_Rim           524

running Ridge using alpha=100

In [82]:
cols = []
coeff = []

reg_ridge = Ridge(alpha=100).fit(X, y)
y_pred = reg_ridge.predict(X)
print("R2 = %.4f and MSE = %.2f" % (reg_ridge.score(X,y), mean_squared_error(y, y_pred)))
R2_list.append(reg_ridge.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Ridge 100')
for c in reg_ridge.coef_[0]:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

ridge_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Ridge 100'] = coeff
ridge_df.head(10)

R2 = 0.8219 and MSE = 2340721.37

         variables  coefficients
0        Age_08_04        -138.2
1               KM      -0.02355
2    Quarterly_Tax         12.47
3    Mfr_Guarantee         174.4
4  BOVAG_Guarantee           118
5              ABS        -415.3
6            Airco         524.1
7     Metallic_Rim         402.8

Running Lasso for different values of alpha {0.1, 10, 100}

Lasso regression using alpha=0.1

In [83]:
cols = []
coeff = []

reg_lasso = Lasso(alpha=0.1).fit(X, y)
y_pred = reg_lasso.predict(X)
print("R2 = %.4f and MSE = %.2f" % (reg_lasso.score(X,y), mean_squared_error(y, y_pred)))
R2_list.append(reg_lasso.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Lasso 0.1')
for c in reg_lasso.coef_:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

lasso_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Lasso 0.1'] = coeff
lasso_df.head(10)

R2 = 0.8234 and MSE = 2321593.98

         variables  coefficients
0        Age_08_04        -138.7
1               KM      -0.02345
2    Quarterly_Tax         12.33
3    Mfr_Guarantee         221.5
4  BOVAG_Guarantee         223.2
5              ABS        -688.1
6            Airco         683.6
7     Metallic_Rim         541.9

Lasso regression using alpha=10

In [84]:
cols = []
coeff = []

reg_lasso = Lasso(alpha=10).fit(X, y)
y_pred = reg_lasso.predict(X)
print("R2 = %.4f and MSE = %.2f" % (reg_lasso.score(X,y), mean_squared_error(y, y_pred)))
R2_list.append(reg_lasso.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Lasso 10')
for c in reg_lasso.coef_:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

lasso_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Lasso 10'] = coeff
lasso_df.head(10)

R2 = 0.8231 and MSE = 2324986.62

         variables  coefficients
0        Age_08_04        -138.2
1               KM      -0.02358
2    Quarterly_Tax         12.45
3    Mfr_Guarantee         191.1
4  BOVAG_Guarantee         113.6
5              ABS          -584
6            Airco           642
7     Metallic_Rim         492.1

Lasso regression using alpha=100

In [85]:
cols = []
coeff = []

reg_lasso = Lasso(alpha=100).fit(X, y)
y_pred = reg_lasso.predict(X)
print("R2 = %.4f and MSE = %.2f" % (reg_lasso.score(X,y), mean_squared_error(y, y_pred)))
R2_list.append(reg_lasso.score(X,y))
MSE_list.append(mean_squared_error(y, y_pred))
model_list.append('Lasso 100')
for c in reg_lasso.coef_:    
    coeff.append(c)
for names in X.columns:
    cols.append(names)

lasso_df = pd.DataFrame(
    {'variables': cols,
     'coefficients': coeff
    })
combined['Lasso 100'] = coeff
lasso_df.head(10)

R2 = 0.8114 and MSE = 2479845.73

         variables  coefficients
0        Age_08_04        -137.6
1               KM      -0.02394
2    Quarterly_Tax         12.59
3    Mfr_Guarantee             0
4  BOVAG_Guarantee             0
5              ABS            -0
6            Airco         284.1
7     Metallic_Rim         10.41

printing a consolidated output

In [86]:
#combined['Columns'] = X.columns
#combined['R2'] = R2_list
desc_list = cols
desc_list.append('R2')
desc_list.append('MSE')

#print(len(R2_list),len(combined.columns))
a_series = pd.Series(R2_list, index = combined.columns)
combined = combined.append(a_series, ignore_index=True)
#combined['MSE'] = MSE_list
a_series = pd.Series(MSE_list, index = combined.columns)
combined = combined.append(a_series, ignore_index=True)

combined['Description'] = desc_list
combined.head(10)

,Reg,Ridge 0.1,Ridge 10,Ridge 100,Lasso 0.1,Lasso 10,Lasso 100,Description
0,-138.7,-138.7,-138.6,-138.2,-138.7,-138.2,-137.6,Age_08_04
1,-0.02345,-0.02345,-0.02346,-0.02355,-0.02345,-0.02358,-0.02394,KM
2,12.33,12.33,12.36,12.47,12.33,12.45,12.59,Quarterly_Tax
3,221.9,221.8,216.5,174.4,221.5,191.1,0,Mfr_Guarantee
4,224.3,224.1,205.1,118,223.2,113.6,0,BOVAG_Guarantee
5,-689.1,-688.7,-647,-415.3,-688.1,-584,-0,ABS
6,684,683.8,663.6,524.1,683.6,642,284.1,Airco
7,542.4,542.3,524,402.8,541.9,492.1,10.41,Metallic_Rim
8,0.8234,0.8234,0.8234,0.8219,0.8234,0.8231,0.8114,R2
9,2.322e+06,2.322e+06,2.322e+06,2.341e+06,2.322e+06,2.325e+06,2.48e+06,MSE

instead of exploring the lambda value randomly, let's do an exhaustive search within a given range.

In [98]:
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedKFold
from numpy import arange
from sklearn.linear_model import LassoCV
import warnings 
warnings.filterwarnings('ignore')

In [88]:
import sklearn
sklearn.metrics.SCORERS.keys()

dict_keys(['explained_variance', 'r2', 'max_error', 'matthews_corrcoef', 'neg_median_absolute_error', 'neg_mean_absolute_error', 'neg_mean_absolute_percentage_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_root_mean_squared_error', 'neg_mean_poisson_deviance', 'neg_mean_gamma_deviance', 'accuracy', 'top_k_accuracy', 'roc_auc', 'roc_auc_ovr', 'roc_auc_ovo', 'roc_auc_ovr_weighted', 'roc_auc_ovo_weighted', 'balanced_accuracy', 'average_precision', 'neg_log_loss', 'neg_brier_score', 'positive_likelihood_ratio', 'neg_negative_likelihood_ratio', 'adjusted_rand_score', 'rand_score', 'homogeneity_score', 'completeness_score', 'v_measure_score', 'mutual_info_score', 'adjusted_mutual_info_score', 'normalized_mutual_info_score', 'fowlkes_mallows_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'jaccard', 'jaccard_macro', 'jaccard_micro', 'jaccard_samples', 'jaccard_weighted'])

searching the best lambda for Ridge regression

In [89]:
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define model
model = RidgeCV(alphas=arange(1, 50, 0.5), cv=cv, scoring='r2')#, scoring='neg_mean_absolute_error')
# fit model
model.fit(X, y)
# summarize chosen configuration
print('alpha: %f' % model.alpha_)
print(model.best_score_)
model.coef_

alpha: 10.500000
0.8180096989982546

array([[-1.38600008e+02, -2.34636890e-02,  1.23579369e+01,
         2.16239234e+02,  2.04216955e+02, -6.45004938e+02,
         6.62580320e+02,  5.23152698e+02]])

Searching the best lambda for Lasso regression

In [90]:
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define model
model = LassoCV(alphas=arange(1, 20, 0.5), cv=cv, max_iter=10000)
# fit model
model.fit(X, y)
# summarize chosen configuration
print('alpha: %f' % model.alpha_)
print(model.score(X,y))
print(model.coef_)

#model.best_score_

alpha: 1.000000
0.8233927768278906
[-1.38692037e+02 -2.34587647e-02  1.23446974e+01  2.18777326e+02
  2.13199474e+02 -6.78607633e+02  6.79837816e+02  5.37413847e+02]

In [91]:
from sklearn.preprocessing import PolynomialFeatures

using Ridge on Polynomial+Interaction features

In [99]:
poly = PolynomialFeatures(2)
reg_ridge = Ridge(alpha=10.5).fit(X, y)
#model = RidgeCV(alphas=arange(1, 50, 0.5), cv=cv, scoring='r2')
X2 = poly.fit_transform(X)
X2df = pd.DataFrame(X2)
X2df.columns = list(poly.get_feature_names_out())
scores = cross_val_score(reg_ridge, X2df, y, cv=cv) 
print(mean(scores))

0.8674983791416753

In [93]:
poly.get_feature_names_out()

array(['1', 'Age_08_04', 'KM', 'Quarterly_Tax', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'ABS', 'Airco', 'Metallic_Rim', 'Age_08_04^2',
       'Age_08_04 KM', 'Age_08_04 Quarterly_Tax',
       'Age_08_04 Mfr_Guarantee', 'Age_08_04 BOVAG_Guarantee',
       'Age_08_04 ABS', 'Age_08_04 Airco', 'Age_08_04 Metallic_Rim',
       'KM^2', 'KM Quarterly_Tax', 'KM Mfr_Guarantee',
       'KM BOVAG_Guarantee', 'KM ABS', 'KM Airco', 'KM Metallic_Rim',
       'Quarterly_Tax^2', 'Quarterly_Tax Mfr_Guarantee',
       'Quarterly_Tax BOVAG_Guarantee', 'Quarterly_Tax ABS',
       'Quarterly_Tax Airco', 'Quarterly_Tax Metallic_Rim',
       'Mfr_Guarantee^2', 'Mfr_Guarantee BOVAG_Guarantee',
       'Mfr_Guarantee ABS', 'Mfr_Guarantee Airco',
       'Mfr_Guarantee Metallic_Rim', 'BOVAG_Guarantee^2',
       'BOVAG_Guarantee ABS', 'BOVAG_Guarantee Airco',
       'BOVAG_Guarantee Metallic_Rim', 'ABS^2', 'ABS Airco',
       'ABS Metallic_Rim', 'Airco^2', 'Airco Metallic_Rim',
       'Metallic_Rim^2'], dtype=object)

In [100]:
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define model
model = LassoCV(alphas=arange(1, 10, 0.5), cv=cv, max_iter=50000)
# fit model
model.fit(X2df, y)
# summarize chosen configuration
print('alpha: %f' % model.alpha_)
print(model.score(X2df,y))
#print(model.coef_)
coeff = []
cols = []

for c in model.coef_:    
    coeff.append(c)
for names in X2df.columns:
    cols.append(names)
    
lassocv_df = pd.DataFrame(
    {'variables': cols,
        'coefficients': coeff
    })

lassocv_df.head(50)

alpha: 1.500000
0.8784570339971559

                        variables  coefficients
0                               1             0
1                       Age_08_04        -193.9
2                              KM      -0.04268
3                   Quarterly_Tax         24.99
4                   Mfr_Guarantee             0
5                 BOVAG_Guarantee         196.2
6                             ABS             0
7                           Airco         196.2
8                    Metallic_Rim         144.3
9                     Age_08_04^2        0.8936
10                   Age_08_04 KM     0.0005357
11        Age_08_04 Quarterly_Tax       -0.3026
12        Age_08_04 Mfr_Guarantee       -0.7295
13      Age_08_04 BOVAG_Guarantee        -7.777
14                  Age_08_04 ABS        -8.184
15                Age_08_04 Airco        -13.13
16         Age_08_04 Metallic_Rim        -20.27
17                           KM^2     -5.43e-08
18               KM Quarterly_Tax    -1.934e-05
19               KM Mfr_Guarantee      0.003779
20             KM BOVAG_Guarantee      0.004865
21                         KM ABS     0.0003195
22                       KM Airco     -0.004054
23                KM Metallic_Rim    -0.0005943
24                Quarterly_Tax^2       0.02489
25    Quarterly_Tax Mfr_Guarantee         3.244
26  Quarterly_Tax BOVAG_Guarantee        -6.556
27              Quarterly_Tax ABS          1.68
28            Quarterly_Tax Airco        -1.758
29     Quarterly_Tax Metallic_Rim          3.39
30                Mfr_Guarantee^2             0
31  Mfr_Guarantee BOVAG_Guarantee        -122.9
32              Mfr_Guarantee ABS        -66.64
33            Mfr_Guarantee Airco         95.59
34     Mfr_Guarantee Metallic_Rim        -134.8
35              BOVAG_Guarantee^2         482.6
36            BOVAG_Guarantee ABS         353.9
37          BOVAG_Guarantee Airco            -0
38   BOVAG_Guarantee Metallic_Rim         98.84
39                          ABS^2             0
40                      ABS Airco         123.5
41               ABS Metallic_Rim           251
42                        Airco^2         1,572
43             Airco Metallic_Rim         64.46
44                 Metallic_Rim^2         866.6

In [101]:
scaler = MinMaxScaler(feature_range=(0, 1))
X2_Scaled = scaler.fit_transform(X2df)
X2df_Scaled = pd.DataFrame(X2_Scaled)
X2df_Scaled.columns = X2df.columns

# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define model
model = LassoCV(alphas=arange(1, 10, 0.5), cv=cv, max_iter=50000)
# fit model
model.fit(X2df_Scaled, y)
# summarize chosen configuration
print('alpha: %f' % model.alpha_)
print(model.score(X2df_Scaled,y))
#print(model.coef_)
coeff = []
cols = []

for c in model.coef_:    
    coeff.append(c)
for names in X2df_Scaled.columns:
    cols.append(names)
    
lassocv_df = pd.DataFrame(
    {'variables': cols,
        'coefficients': coeff
    })

lassocv_df.head(50)

alpha: 1.000000
0.8775540045034014

                        variables  coefficients
0                               1             0
1                       Age_08_04    -1.616e+04
2                              KM        -6,163
3                   Quarterly_Tax         4,418
4                   Mfr_Guarantee             0
5                 BOVAG_Guarantee           250
6                             ABS             0
7                           Airco         19.49
8                    Metallic_Rim         270.5
9                     Age_08_04^2         6,352
10                   Age_08_04 KM         5,239
11        Age_08_04 Quarterly_Tax        -3,059
12        Age_08_04 Mfr_Guarantee            -0
13      Age_08_04 BOVAG_Guarantee          -236
14                  Age_08_04 ABS          -602
15                Age_08_04 Airco        -1,047
16         Age_08_04 Metallic_Rim        -1,763
17                           KM^2        -1,250
18               KM Quarterly_Tax        -2,400
19               KM Mfr_Guarantee         716.8
20             KM BOVAG_Guarantee         87.83
21                         KM ABS        -346.3
22                       KM Airco        -1,435
23                KM Metallic_Rim            -0
24                Quarterly_Tax^2         2,605
25    Quarterly_Tax Mfr_Guarantee         784.2
26  Quarterly_Tax BOVAG_Guarantee        -939.5
27              Quarterly_Tax ABS         540.8
28            Quarterly_Tax Airco             0
29     Quarterly_Tax Metallic_Rim         560.9
30                Mfr_Guarantee^2             0
31  Mfr_Guarantee BOVAG_Guarantee        -115.6
32              Mfr_Guarantee ABS        -52.14
33            Mfr_Guarantee Airco         122.4
34     Mfr_Guarantee Metallic_Rim        -164.7
35              BOVAG_Guarantee^2         241.4
36            BOVAG_Guarantee ABS           398
37          BOVAG_Guarantee Airco        -96.13
38   BOVAG_Guarantee Metallic_Rim         122.8
39                          ABS^2             0
40                      ABS Airco         142.4
41               ABS Metallic_Rim         268.6
42                        Airco^2         1,794
43             Airco Metallic_Rim         76.93
44                 Metallic_Rim^2         892.7

In [96]:
from sklearn.linear_model import ElasticNetCV

In [97]:
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define model
ratios = arange(0, 1, 0.02) #book's alpha
alphas = arange(0,20,0.5) #book's lambda
model = ElasticNetCV(l1_ratio=ratios, alphas=alphas, cv=cv)
# define model evaluation method

# evaluate model
model.fit(X2df, y)
print(model.score(X2df,y))
print('alpha: %f' % model.alpha_)
print('l1_ratio_: %f' % model.l1_ratio_)

0.8779105141517254
alpha: 0.500000
l1_ratio_: 0.980000